/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/


// Colors
$red-color: #B22222 !default;
$red-color-dark: #B71C1C !default;
$orange-color: #F29105 !default;
$blue-color: #003049 !default;
$blue-color-dark: #002133 !default;
$cyan-color: #3F7D8E !default;
$light-cyan-color: #7bcce4;
$green-color: #4A6C48 !default;
$green-color-lime: #B7D12A !default;
$green-color-dark: #2F452E !default;
$green-color-light: #ddffdd !default;
$green-color-bright: #6B8E23 !default;
$purple-color: #B22222 !default;
$light-purple-color: #E57373;
$pink-color: #C25E6E !default;
$pink-color-light: #ffdddd !default;
$yellow-color: #D4AF37 !default;

$grey-color: #403E3B !default;
$grey-color-light: #c1bfbc;
$grey-color-dark: #2C292D;
$grey-900: #212529;

$white-color: #F4F1EA !default;
$black-color: #2C292D !default;


// Theme colors

$code-bg-color-light: rgba($purple-color, 0.05);
$code-bg-color-dark: #2c3237 !default;